<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "veriforceqrpoc.wiekebouten.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[VeriSource QR PoC]</name>

    <description>
        Ann app made by TimeSeries using Mendix, Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/wiekebouten" email="wieke.bouten@timeseries.nl">
        Wieke Bouten
    </author>

</widget>
